# Datasets
Flask_app_dataset/
streamlit_app_garbage_classify/streamlit_garbage-dataset/

# Uploads
uploads/

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# pylint
.pylint.d/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
*.swp
*.swo

# Logs
*.log

# Datasets, models, and outputs
*.h5
*.ckpt
*.pth
*.pt
*.tflite
*.pb
*.onnx
*.joblib
*.pkl
*.npy
*.npz
